# Version control
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# Ignore large data directories
zips/
data/
*.zip

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.log